{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  {% block meta %}{% endblock %}
  <title>{% block title %}BioCloud{% endblock title %}</title>
  {% block css %}{% endblock css %}
  {% block headjs %}{% endblock headjs %}
  <link rel="stylesheet" href="{% static 'libs/semantic-ui/semantic.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/site.css' %}" media="all">
  <!--<script src="//code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>-->
</head>
<body>
  <div class="ui stackable menu">
    <div class="ui container">
      <a class="header item" href="{% url 'home' %}">
        <img class="logo" src="{% static 'pics/logo.png' %}">
        BioCloud
      </a>
      <a href="#" class="item">Doc</a>
      <div class="right menu">
        <div class="ui simple dropdown item">
          Semantic UI Cheatsheet <i class="dropdown icon"></i>
          <div class="menu">
            <a href="{% url 'semantic_ui_grid' %}" class="item">Grid</a>
            <a href="{% url 'semantic_ui_bootstrap' %}" class="item">Bootstrap</a>
          </div>
        </div>
        <form class="item" method="post" action="{% url 'logout' %}">
        {% if user.is_authenticated %}
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'home' %}">
        <button class="ui red basic button" type="submit">Logout</button>
        {% else %}
        <a class="ui left attached basic blue button" href="{% url 'login' %}">Login</a>
        <a class="ui right attached basic green button" href="{% url 'register' %}">Sign up</a>
        {% endif %}
        </form>
      </div>
    </div>
  </div>
  <div class="ui container menu-spacer"></div>
  {% block body %}{% endblock body %}
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <!-- <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Group 1</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Group 2</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Group 3</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div> -->
      <a href="{% url 'home' %}"><img src="{% static 'pics/logo.png' %}" class="ui centered tiny image"></a>
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
  <!--<script src="{% static 'libs/semantic-ui/semantic.min.js' %}" type="text/javascript" charset="utf-8"></script>-->
  {% block js %}{% endblock js %}
</body>
</html>
